{% extends 'base.html' %} {% block content %} {% if messages %}
<div class="mt-3">
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
  {% endfor %}
</div>
{% endif %}
<h3>Lista de Anexos</h3>
<!-- Encabezados fuera de la tabla -->
<div class="d-flex justify-content-between">
  <div class="table-headers mb-1">
    <div><strong>Docente:</strong> {{ anexos.0.docente }}</div>
    <div><strong>Materia:</strong> {{ anexos.0.materia }}</div>
    <div><strong>Carrera:</strong> {{ anexos.0.carrera }}</div>
  </div>
  <div>
    <strong>Descargar: </strong>
    <a href="{{ anexo.archivo.url }}" class="btn btn-primary">Anexo 1</a>
    <a href="{% url 'upload_excel' %}" class="btn btn-secondary">
      <i class="fa-solid fa-rotate-left"></i> Volver
    </a>
  </div>
</div>

<!-- Tabla con DataTables -->
<table id="anexos-table" class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Actividad</th>
      <th scope="col">Tema</th>
      <th scope="col">Trabajo Independiente</th>
    </tr>
  </thead>
  <tbody>
    {% for anexo in anexos %}
    <tr>
      <td scope="row">{{ anexo.numero_actividad }}</td>
      <td>{{ anexo.tema }}</td>
      <td>{{ anexo.trabajo_independiente }}</td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="4" class="text-center">No hay registros disponibles.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
