<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Reporte de Planificación</title>
    <style>
      @page {
        size: A4;
        margin: 10px 100px 50px 10px;  /* 120 arriba, 100 abajo, 40 laterales */
      }
      body {
        font-family: Arial, sans-serif;
        font-size: 12px;
      }
      table {
        width: 100%;
        border-collapse: collapse;
      }
      th, td {
        border: 1px solid #444;
        padding: 5px;
      }
      th {
        background-color: #eee;
      }
    </style>
    <body>
      <pdf:header>
          <img src="media/img/encabezado.jpg" width="100%" />
      </pdf:header>
      <pdf:footer>
        <img src="media/img/pie.jpg" width="100%" />
      </pdf:footer>
      <h2>Reporte de Planificación - {{ carrera }}</h2>
      {% for semestre, materias_dict in datos.items %}
      <h3>Semestre: {{ semestre }}</h3>
      <table>
        <thead>
          <tr>
            <th>Docente</th>
            <th>Semestre</th>
            <th>Asignatura</th>
            <th>Planes Elaborados</th>
            <th>Planes Firmados</th>
          </tr>
        </thead>
        <tbody>
          {% for materia_nombre, planes_lista in materias_dict.items %}
            {% for entrada in planes_lista %}
            <tr>
              <td>{{ entrada.docente }}</td>
              <td>{{ semestre }}</td>
              <td>{{ entrada.materia }}</td>
              <td>{{ entrada.planes }}</td>
              <td>{{ entrada.firmados }}</td>
            </tr>
            {% endfor %}
          {% endfor %}
        </tbody>
      </table>
      {% endfor %}
  </body>
</html>
