{% extends 'base.html' %} {% block content %}
<h1>Crear Nuevo Plan para {{ materia }}</h1>

<br />
<form method="POST">
  {% csrf_token %}
  <div class="row">
    <div class="col-md-6">
      <div class="mb-3">
        <label for="{{ form.plan_nombre.id_for_label }}" class="form-label"
          >NÚMERO DE PLAN</label
        >
        {{ form.plan_nombre }} {% if form.plan_nombre.errors %}
        <div class="text-danger">
          {% for error in form.plan_nombre.errors %}
          <p>{{ error }}</p>
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
    <div class="col-md-6">
      <div class="mb-3">
        <label for="{{ form.fecha_ejecucion.id_for_label }}" class="form-label"
          >FECHA EJECUCIÓN</label
        >
        {{ form.fecha_ejecucion }} {% if form.fecha_ejecucion.errors %}
        <div class="text-danger">
          {% for error in form.fecha_ejecucion.errors %}
          <p>{{ error }}</p>
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="mb-3">
    <label for="{{ form.numero_actividad.id_for_label }}" class="form-label">
      NÚMERO DE ACTIVIDAD:
    </label>
    <div>
      {% for activi in form.numero_actividad %} {{ activi }} {% endfor %}
    </div>
    {% if form.actividad.errors %}
    <div class="text-danger">
      {% for error in form.actividad.errors %}
      <p>{{ error }}</p>
      {% endfor %}
    </div>
    {% endif %}
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="mb-3">
        <label for="{{ form.metodo.id_for_label }}" class="form-label"
          >MÉTODO</label
        >
        <a class="btn-primary" href="{% url 'metodos_list' %}">
          <i class="fa-solid fa-plus"></i> Agregar
        </a>
        <br />
        {{ form.metodo }} {% if form.metodo.errors %}
        <div class="text-danger">
          {% for error in form.metodo.errors %}
          <p>{{ error }}</p>
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>

    <div class="col-md-6">
      <div class="mb-3">
        <label
          for="{{ form.actividad_docente.id_for_label }}"
          class="form-label"
          >ACTIVIDAD DOCENTE</label
        >
        {{ form.actividad_docente }}{% if form.actividad_docente.errors %}
        <div class="text-danger">
          {% for error in form.actividad_docente.errors %}
          <p>{{ error }}</p>
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="mb-3">
        <label for="{{ form.forma_ense.id_for_label }}" class="form-label"
          >FORMA DE ENSEÑANZA</label
        >
        <a class="btn-primary" href="{% url 'forma_ense_list' %}"
          ><i class="fa-solid fa-plus"></i> Agregar</a
        >
        <div>
          {% for forma_ense in form.forma_ense %} {{ forma_ense }} {% endfor %}
        </div>
        {% if form.forma_ense.errors %}
        <div class="text-danger">
          {% for error in form.forma_ense.errors %}
          <p>{{ error }}</p>
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
    <div class="col-md-6">
      <div class="mb-3">
        <label
          for="{{ form.recurso_didactico.id_for_label }}"
          class="form-label"
        >
          RECURSOS DIDÁCTICOS PARA LAS CLASE:
        </label>
        <a class="btn-primary" href="{% url 'recursos_didacticos_list' %}"
          ><i class="fa-solid fa-plus"></i> Agregar</a
        >
        <div>
          {% for recurso in form.recurso_didactico %} {{ recurso }} {% endfor %}
        </div>
        {% if form.checkbox.errors %}
        <div class="text-danger">
          {% for error in form.checkbox.errors %}
          <p>{{ error }}</p>
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="mb-3">
        <label for="{{ form.saludo.id_for_label }}" class="form-label"
          >Saludo y organización de la clase</label
        >
        {{ form.saludo }}{% if form.saludo.errors %}
        <div class="text-danger">
          {% for error in form.saludo.errors %}
          <p>{{ error }}</p>
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
    <div class="col-md-6">
      <div class="mb-3">
        <label for="{{ form.asistencia.id_for_label }}" class="form-label"
          >Análisis de la asistencia a clases</label
        >
        {{ form.asistencia }}{% if form.asistencia.errors %}
        <div class="text-danger">
          {% for error in form.asistencia.errors %}
          <p>{{ error }}</p>
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="mb-3">
    <label for="{{ form.asistencia.id_for_label }}" class="form-label"
      >Trabajo con la fecha</label
    >
    {{ form.trabajo_fecha }}{% if form.trabajo_fecha.errors %}
    <div class="text-danger">
      {% for error in form.trabajo_fecha.errors %}
      <p>{{ error }}</p>
      {% endfor %}
    </div>
    {% endif %}
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="mb-3">
        <label
          for="{{ form.analisis_tecnica_cierre.id_for_label }}"
          class="form-label"
          >Análisis de la Técnica de cierre</label
        >
        {{ form.an_tecnica_cierre }}{% if form.an_tecnica_cierre.errors %}
        <div class="text-danger">
          {% for error in form.an_tecnica_cierre.errors %}
          <p>{{ error }}</p>
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
    <div class="col-md-6">
      <div class="mb-3">
        <label for="{{ form.chequeo_trabajo.id_for_label }}" class="form-label"
          >Chequeo del trabajo independiente</label
        >
        {{ form.chequeo_trabajo }}{% if form.chequeo_trabajo.errors %}
        <div class="text-danger">
          {% for error in form.chequeo_trabajo.errors %}
          <p>{{ error }}</p>
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="mb-3">
        <label for="{{ form.motivacion.id_for_label }}" class="form-label"
          >Motivación a la clase</label
        >
        {{ form.motivacion }}{% if form.motivacion.errors %}
        <div class="text-danger">
          {% for error in form.motivacion.errors %}
          <p>{{ error }}</p>
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
    <div class="col-md-6">
      <div class="mb-3">
        <label for="{{ form.objetivo.id_for_label }}" class="form-label"
          >Anuncio del objetivo de la clase</label
        >
        {{ form.objetivo }}{% if form.objetivo.errors %}
        <div class="text-danger">
          {% for error in form.objetivo.errors %}
          <p>{{ error }}</p>
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="mb-3">
    <label for="{{ form.desarrollo_clase.id_for_label }}" class="form-label"
      >Desarrollo de la Clase</label
    >
    {{ form.desarrollo_clase }}{% if form.desarrollo_clase.errors %}
    <div class="text-danger">
      {% for error in form.desarrollo_clase.errors %}
      <p>{{ error }}</p>
      {% endfor %}
    </div>
    {% endif %}
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="mb-3">
        <label for="{{ form.conclusion.id_for_label }}" class="form-label"
          >Conclusiones de la clase</label
        >
        {{ form.conclusion }}{% if form.conclusion.errors %}
        <div class="text-danger">
          {% for error in form.conclusion.errors %}
          <p>{{ error }}</p>
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
    <div class="col-md-6">
      <div class="mb-3">
        <label
          for="{{ form.evaluacion_aprendizaje.id_for_label }}"
          class="form-label"
          >Evaluación del aprendizaje en la clase.</label
        >
        <div>{{ form.evaluacion_aprendizaje }}</div>
        {% if form.evaluacion_aprendizaje.errors %}
        <div class="text-danger">
          {% for error in form.evaluacion_aprendizaje.errors %}
          <p>{{ error }}</p>
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="mb-3">
        <label
          for="{{ form.trabajo_independiente.id_for_label }}"
          class="form-label"
          >Orientación del trabajo independiente.</label
        >
        <div>{{ form.trabajo_independiente }}</div>
        {% if form.trabajo_independiente.errors %}
        <div class="text-danger">
          {% for error in form.evaluacion_aprendizaje.errors %}
          <p>{{ error }}</p>
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
    <div class="col-md-6">
      <div class="mb-3">
        <label for="{{ form.tecnica_cierre.id_for_label }}" class="form-label"
          >Aplicación de técnica de cierre</label
        >
        <a class="btn-primary" href="{% url 'tecnica_cierre_list' %}">
          <i class="fa-solid fa-plus"></i> Agregar
        </a>
        <div>{% for teci in form.tecnica_cierre %} {{ teci }} {% endfor %}</div>
        {% if form.tecnica_cierre.errors %}
        <div class="text-danger">
          {% for error in form.tecnica_cierre.errors %}
          <p>{{ error }}</p>
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="mb-3">
    <label for="{{ form.bibliografia.id_for_label }}" class="form-label"
      >Bibliografía</label
    >
    {{ form.bibliografia }}{% if form.bibliografia.errors %}
    <div class="text-danger">
      {% for error in form.bibliografia.errors %}
      <p>{{ error }}</p>
      {% endfor %}
    </div>
    {% endif %}
  </div>
  <button type="submit" class="btn btn-primary">Guardar Plan</button>
  <a href="{% url 'planes_list' %}" class="btn btn-secondary">Cancelar</a>
</form>

{% endblock %}
