{% extends 'base.html' %} {% load static %} {% block content %}

<!-- Navegación de pestañas -->
<ul class="nav nav-tabs" id="materiaTabs" role="tablist">
  {% for materia in materias_disponibles %}
  <li class="nav-item" role="presentation">
    <button
      class="nav-link {% if forloop.first %}active{% endif %}"
      id="tab-{{ materia|slugify }}-tab"
      data-bs-toggle="tab"
      data-bs-target="#tab-{{ materia|slugify }}"
      type="button"
      role="tab"
      aria-controls="tab-{{ materia|slugify }}"
      aria-selected="{% if forloop.first %}true{% else %}false{% endif %}"
    >
      {{ materia }}
    </button>
  </li>
  {% endfor %}
</ul>

<!-- Contenido de las pestañas -->
<div class="tab-content" id="materiaTabsContent">
  {% for materia, planes in planes_por_materia %}
  <div
    class="tab-pane fade {% if forloop.first %}show active{% endif %}"
    id="tab-{{ materia|slugify }}"
    role="tabpanel"
    aria-labelledby="tab-{{ materia|slugify }}-tab"
  >
    <br />
    <div class="d-flex justify-content-between align-items-center">
      <h4>{{ materia }}</h4>
      <a href="{% url 'planes_create' materia %}" class="btn btn-primary">
        <i class="fa-solid fa-plus"></i> Nuevo Plan
      </a>
    </div>
    <br />

    {% if planes %}
    <table id="table-{{ materia|slugify }}" class="table table-bordered">
      <thead>
        <tr>
          <th>Nombre del Plan</th>
          <th>Temas</th>
          <th>Fecha Ejecución</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for plan in planes %}
        <tr>
          <td>Plan N° {{ plan.plan_nombre }}</td>
          <td>
            <p>
              {% for actividad in plan.numero_actividad.all %}
              <label>{{ actividad.tema}}. </label> {% endfor %}
            </p>
          </td>
          <td>{{ plan.fecha_ejecucion }}</td>
          <td>
            <a href="#" class="btn btn-primary"
              ><i class="fa-solid fa-download"></i> Descargar</a
            >
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p class="text-muted">No hay contenido subido aún.</p>
    {% endif %}
  </div>
  {% endfor %}
</div>

{% endblock %}
