{% extends 'base.html' %} {% block content %}
<div class="d-flex justify-content-between">
  <h2>Lista de Planes</h2>
  <a href="{% url 'planes_create' %}" class="btn btn-primary">
    <i class="fa-solid fa-plus"></i> Crear un nuevo plan.
  </a>
</div>
<br />
{% if planes %}
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Nombre de la Actividad</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for plan in planes %}
    <tr>
      <td>{{ plan.actividad_docente }}</td>
      <td>
        <a href="" class="btn btn-info">Ver</a>
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="2" class="text-center">No hay planes registrados.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<div class="alert alert-info">
  No existen planes asociados a este docente.
  <a href="{% url 'planes_create' %}">Crear un nuevo plan.</a>
</div>
{% endif %} {% endblock %}
