{% extends 'base.html' %} {% block content %}

<div class="d-flex justify-content-between">
  <h2>Lista de Técnica de Cierre</h2>
  <a href="{% url 'tecnica_cierre_create' %}" class="btn btn-primary">
    <i class="fa-solid fa-plus"></i> Nuevo Técnica de Cierre
  </a>
</div>
<br />
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Técnica de Cierre</th>
      <th scope="col">Acción</th>
    </tr>
  </thead>
  <tbody>
    {% for metodo in tecnica_cierre %}
    <tr>
      <th scope="row">{{ metodo.id }}</th>
      <td>{{ metodo.nombre }}</td>
      <td colspan="2">
        <a
          href="{% url 'tecnica_cierre_detail' metodo.pk %}"
          class="btn btn-success me-2"
          ><i class="fa-solid fa-circle-info"></i> Ver más</a
        >
        <a
          href="{% url 'tecnica_cierre_update' metodo.pk %}"
          class="btn btn-primary me-2"
          ><i class="fa-regular fa-pen-to-square"></i> Editar</a
        >
        <a
          href="{% url 'tecnica_cierre_delete' metodo.pk %}"
          class="btn btn-danger"
          ><i class="fa-solid fa-trash"></i> Eliminar</a
        >
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="3" class="text-center text-muted">
        No hay registros disponibles.
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<ul></ul>
{% endblock %}
